/* 
Document   : SignUp_style.css 

Dalton James, Dalton_James@student.uml.edu   
Jared Perreault, Jared_Perreault@student.uml.edu
Kyle White, Kyle_White@student.uml.edu
 
 */



/*styles spacing and look of entire form*/
div.content #form_wrapper{
    padding: 5px;
    border: solid black 3px;
    display: inline-block;
}

/*styles spacing of the table*/
div.content #image{
    margin-left: 20px;
	float: right;
}

/*styles the submit button*/
div.content input{
	float: right;
	margin-left: 5px;
}

/*wraps each textbox and its description in a div to keep them together*/
div.content .form_ele{
    display: block;
    margin-bottom: 9px;
}

/*styles the error message*/
div.content .error{
	color: red;
}