body  {
  font-family: Verdana, Arial, Helvetica, sans-serif ;
  font-size: 10pt ;
}
ul {
	list-style-type: none;
}
#body-wrapper {
	width: 70%;
	margin: 0px auto;
}
#header-wrapper{
	height: 100px;
	text-align: center;
	border: solid red 1px;
	margin-bottom: 8px;
}
#content {
	width: 100%;
	margin-top: 25px;
}
#left-panel {
	width:69%;
	display: inline-block;
	float: left;
}
#right-panel {
	width: 28%;
	display: inline-block;
	float: right;
	border: solid black 1px;
}
div.add-new-wrapper {
	overflow: auto;
}
div.add-new-wrapper a {
	display: inline-block;
	float: right;
}