body  {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10pt ;
}
ul {
	list-style-type: none;
}
a {
	cursor: pointer;
}
#body-wrapper {
	width: 100%;
}
#content {
	width: 80%;
	margin: 0 auto;
	margin-top: 25px;
}
#left-panel {
	width: 85%;
	display: inline-block;
	float: left;
}
#right-panel {
	width: 5%;
	display: inline-block;
	float: right;
	border: solid black 1px;
}
div.add-new-wrapper {
	overflow: auto;
}
div.add-new-wrapper a {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
}
div.clickable {
	background-color: white;
	border: solid gray 1px;
	border-radius: 5px;
	padding: 5px;
}
div.clickable:hover {
	border: solid DarkBlue 2px;
	background-color: #E6FFFF;
	margin: -1px;
	cursor: pointer;
}
div.topic-desc {
	max-height: 140px;
}
div.see-more {
	overflow: hidden;
}
p.see-more {
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 5px;
}
span.like-spacer {
	width: 12px;
	margin-left: 6px;
	margin-right: 6px;
}
a.voter {
	cursor: pointer;
}
div.tag-list  {
	display: inline-block;
}
div.tag-list span {
	display: inline-block;
	margin: 0;
}