<html ng-app="viewTopic">
  <head>
    <meta charset='UTF-8'>
	
	<!-- 
        Dalton James, Dalton_James@student.uml.edu   
        Jared Perreault, Jared_Perreault@student.uml.edu
        Kyle White, Kyle_White@student.uml.edu

        UMass Lowell Computer Science
        Students in Jesse Heines GUI Programming II
        
        File: view_topic/index.html
        
        Description: Displays one user created topic and all info and topic about it
        
	-->
	
    <title>View Topic</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
	<link type="text/css" rel="stylesheet" href="style.css"></link>
</head>
<body>
	<div id="body-wrapper">
		<!--persists the login and includes the header-->
		<?php 
	        session_start();
	        if ( (isset($_SESSION['bLogged'])) && (isset($_SESSION['username'])) ) {
	            include ("../static/header/signedInHeader.html"); 
	        }
	        else {
	            header("Location: ../sign_up");
	        }
    	?>
		<div id="content">
			<div ng-controller="AppCtrl">
				<div id="left-panel">
				<!--nav with breadcrumbs included for future scalability-->
					<div id="navigation">
						<ol class="breadcrumb">
							<li><a href="../home">Home</a></li>
							<li><a>Link</a></li>
							<li><a>Link</a></li>
						</ol>
					</div>
					<!--add title with angular-->
					<div id="title">
						<h1>{{topicData.title}}</h1>
						<a id="back-btn" class="btn btn-info" href="../home">Back to Topics List</a>
					</div>
					<!--add topic description with angular-->
					<div id="description-box">
						<div class="panel panel-default">
							<div class="panel-body">
								<p>{{topicData.description}}</p>
							</div>
	
							<!--tags not yet implemented-->
							<div class="panel-footer">
								<p>Tag1, Tag2, Tag3, Tag4, etc...</p>
							</div>
						</div>
					</div>
					
					<!--div adds the first comment and the username of poster with angular-->
					<div id="original-post-box" class="well well-sm">
						<div class="row">
							<div class="col-md-3 post-left">
								<div class="post-background">
									<p>{{topicData.username}}</p>
									<p>Account Info</p>
								</div>
							</div>
							<div class="col-md-9 post-right">
								<span class="post-background">Opening Comment</span>
								<div class="post-background">
									<p>{{topicData.opening_comment}}</p>
								</div>
							</div>
						</div>
					</div><!--end original-post-box div-->
					
					<div id="comment-container">
						<ul ng-model="commentsData">
							<!--displays each of the comments with angular repeat-->
							<li ng-repeat="comment in commentsData | orderBy:'+postIndex'" class="well well-sm" >
								<div class="row">
									<div class="col-md-3 post-left">
										<div class="post-background">
											<p>{{comment.poster}}</p>
										</div>
									</div>
									<div class="col-md-9 post-right">
										<div class="post-background">
											<p>{{comment.commentString}}</p>
										</div>
									</div>
								</div>
							</li>
							<!--button to add new comment to the topic-->
							<li id="new-comment" class="well well-sm">
								<!-- <form id="add-comment" action="javascript:void(0)"> -->
								<form id="add-comment" ng-submit="addComment()">
									<textarea rows="2" cols="100" placeholder="Add a comment..." name="comment" form="add-comment" ng-model="newCommentStr" required></textarea>
									<input type="submit" class="btn btn-info btn-sm" value="Add Comment" />
								</form>
							</li>
						</ul>
					</div><!--end comment container div-->
				</div><!--end left panel div-->
				<!--right panel not really implemented-->
				<div id="right-panel">
					<p>Right Panel:</p>
					<p>Account Info</p>
					<p>Tag Map</p>
				</div>
			</div><!-- end ng-controller="AppCtrl" div -->
		</div> <!--end content div-->
	</div> <!--end body-wrapper div-->
</body>
</html>
