<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	
	<!-- 
        Dalton James, Dalton_James@student.uml.edu   
        Jared Perreault, Jared_Perreault@student.uml.edu
        Kyle White, Kyle_White@student.uml.edu

        UMass Lowell Computer Science
        Students in Jesse Heines GUI Programming II
        
        File: index.html
        
        Description: The users account page for the site
        
	-->
	
    <title>Red, White &amp; Youth</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--Link Bootstrap-->
    <link href="style.css" rel="stylesheet" type="text/css">
	
	<!-- js link -->
	<script src="account.js"></script>
	
</head>
<body ng-app="acctData">
<div id="body-wrapper">

	<!--persists the login and includes the header-->
    <?php 
        session_start();
        if ( (isset($_SESSION['bLogged'])) && (isset($_SESSION['username'])) ) {
            include ("../static/header/signedInHeader.html"); 
        }
        else {
            header("Location: ../sign_up");
        }
    ?>

    <div id="content">
		<div ng-controller="AppCtrl">
		
			<h1>{{accountData.username}}</h1>
			
			<h2>Information</h2>
			<ul ng-model="acctData">
				
				<p>Name = {{accountData.firstname}} {{accountData.lastname}}</p>
				<p>Email Address = {{accountData.email}} </p>
			</ul>
			
			<h2>Additional Information</h2>
			
			<ul ng-model="acctData">
				<div>Phone Number = <a ng-click="phoneNumber($compile)" class="update" id="phoneNumber">{{accountData.phonenumber}}</a> <div id="phoneSelect"></div> </div> 
				<div>College = <a ng-click="college()" class="update" id="college">{{accountData.college}}</a> <div id="collegeSelect"></div> </div> 
				<div>Home State = <a ng-click="state()" class="update" id="state">{{accountData.state}}</a> <div id="stateSelect"></div> </div> 
				
			</ul><!--end acct data-->
		</div><!--end controller div-->
    </div><!--end content div-->
</div><!--end body-wrapper div-->
</body>
</html>