body{
	width: 100%;
}

#content{
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

#content > div{
	margin-left: 50px;
	width: 75%;
 	text-align: left;
}


#return_button{
	float: right;
}
	
td{
	border: 15px solid white;
}

.first_column{
	font-weight: bold;
}

/*changes a tags to a pointer cursor*/
a{
	cursor: pointer;
}

form{
	display:inline;
}

/*all display inlines below make the update forms one line*/
#stateSelect {
	display:inline;
}

#stateSelectForm {
	display:inline;
}

#phoneSelect {
	display:inline;
}

#phoneSelectForm {
	display:inline;
}

#collegeSelect {
	display:inline;
}

#collegeSelectForm {
	display:inline;
}

h1{
	font-weight: bold;
	font-size: 48px;
	color: green;
	display: inline;
}
