/* 
Document   : SignUp_style.css 

Dalton James, Dalton_James@student.uml.edu   
Jared Perreault, Jared_Perreault@student.uml.edu
Kyle White, Kyle_White@student.uml.edu
 
 */


/*effects the entire body*/
body{
    margin-top: 30px;
    margin-left: 10px;
}





/*effects spacing and look of entire form*/
#form_wrapper{
    padding: 5px;
    border: solid black 3px;
    display: inline-block;
}

/*effects spacing of the table*/
#image{
    display: inline-block; 
    margin-left: 20px;
}

input{
	float: right;
	margin-left: 5px;
}

/*wraps each textbox and its description in a div to keep them together*/
.form_ele{
    display: block;
    margin-bottom: 9px;
}









